<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
        <!-- leaflet map css -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
            integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
            crossorigin="" />
        <!-- leaflet map js -->
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    </head>

    <body id="background-img4">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo-img" href="/dashboard"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hello, {{user.first_name}}
                            {{user.last_name}} </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/add">Add Workout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <h1 class="text-light py-4 mx-5">View Workout</h1>
            <div class="col-6 mx-auto d-flex justify-content-center flex-column">

                <div class="card">
                    <div class="card-title bg-dark text-light text-center">Workout Type</div>
                    <div class="card-body">{{workout.type}}</div>
                    <!-- </div> -->
                    <!-- <div class="card"> -->
                    <div class="card-title bg-dark text-light text-center">Description</div>
                    <div class="card-body">{{workout.description}}</div>
                    <!-- </div>
                <div class="card"> -->
                    <div class="card-title bg-dark text-light text-center">Length(minutes)</div>
                    <div class="card-body">{{workout.length}}</div>
                    <!-- </div>
                <div class="card"> -->
                    <div class="card-title bg-dark text-light text-center">Date of Workout</div>
                    <div class="card-body">{{workout.date.strftime('%B %d, %Y')}}</div>
                </div>
            </div>
            <div id="map"></div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
        </main>
        <script src="scripts.js"></script>
    </body>

</html>