body {
    font-family: 'Roboto Flex', sans-serif;
}

#login_background {
    background-image: url("../img/man-runs-across-snow.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#logo {
    max-width: 350px;
    width: 100%;
    object-fit: contain;
    object-fit: scale-down;
}

#logo-img {
    content: url("../img/Social_Fitness-logo-2.png");
    max-width: 125px;
    width: 100%;
    object-fit: contain;
    object-fit: scale-down;
}