#login_background {
    background-image: url("../img/man-runs-across-snow.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#background-img {
    background-image: url("../img/young-woman-standing-in-yoga-pose.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#background-img1 {
    background-image: url("../img/Working-Out-With-Chalk.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#background-img3 {
    background-image: url("../img/running-cloudy-day.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#background-img4 {
    background-image: url("../img/bikes-take-the-turn.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#logo {
    max-width: 350px;
    width: 100%;
    object-fit: contain;
    object-fit: scale-down;
}

#logo-img {
    content: url("../img/Social_Fitness-logo-2.png");
    max-width: 125px;
    width: 100%;
    object-fit: contain;
    object-fit: scale-down;
}

#like_button {
    content: url("../img/thumb.png");
    height: 2px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #f3f3f3;
}

.top {
    background-color: #333333;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* .col,
.col-2 {
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.col-2 {
    flex: 2;
} */

.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card,
.card {
    width: 100%;
    background-color: rgb(241, 235, 235);
    border: 2px solid #999;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    /* background-color: #17a2b8; */
    height: 55px;
    /* margin-bottom: 70px; */
}

.card-body {
    height: 250px;
    padding: 25px;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
    margin: 0px 0px;
}

.avatar-m {
    border-radius: 65%;
    background-color: #fff;
    height: 150px;
    /* padding: 10px; */
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.icon-s {
    height: 15px;
}

.header {
    background-color: #333333;
    padding: 20px;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.avatar-s {
    border-radius: 50%;
    height: 36px;
    margin-right: 35px;
}

.user-line {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.start,
.end {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.dates {
    font-size: 18px;
    color: #777;
}

.footer {
    padding: 20px;
    border-top: 2px solid #999;
}

.friends {
    background-color: #eee;
    color: #333;
    font-size: 18px;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px;
    margin-right: 10px;
}

#map {
    height: 200px;
    width: 50%;
    margin: 0 auto;
}